
.toplinks ul{ display:flex; margin:0px; border-bottom:1px solid #b38b05; border-top:1px solid #b38b05; padding:0px; list-style:none;}
.toplinks ul li{ flex:1 1 auto;}
.toplinks ul li > a{ border:0px; background:#ddd; display:block; border-radius:0px; -webkit-border-radius:0px; -ms-border-radius:0px; text-align:center; padding:10px 0px; border-right:1px solid #b38b05; color:#c4151a;}
.toplinks ul li > a:hover{background:#e7b409; text-decoration:none; color:#fff;}
.toplinks ul li.active > a, .toplinks ul li.active > a:focus, .toplinks ul li.active > a:hover{background-color:#e7b409; border:0px; color:#fff; text-decoration:none; border-right:1px solid #b38b05;}

.footer{ margin-top:15px;}
